#!/usr/bin/env bash
set -e

DIR=`pwd`

if [ ! -e "$DIR/node_modules" ]; then
npm install
fi

if [ ! -e "$DIR/.git/hooks/pre-commit" ]; then
mkdir -p $DIR/.git/hooks
ln -s ../../.direnv/.git/hooks/pre-commit $DIR/.git/hooks/pre-commit
fi

PATH="$_DIR/.direnv/bin:$PATH"

